/* ============================================================================================== */
/* PROFILE STYLES */
/* ============================================================================================== */
.profile-header {
  /* height: 100%;
  position: relative;
  display: flex;
  flex-direction: column; */
}

.profile-name {
  /* font-family: 'Roboto'; */
}
