@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.container {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
}

.interview-qa {
  border-bottom: 1px solid #edeff1;
  width: 100%;
  max-width: 780px;
}

.interview-qa-section {
  margin-bottom: 50px;
}

.qa-response-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 30px 0;
}

.qa-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.qa-section-label {
  color: #d2d2d2;
  font-size: 15pt;
}

.qa-text {
  color: #858484;
  font-size: 15pt;
}

.role-selection {
  padding: 10px 5px;
  border: none;
  max-width: 700px;
}

.record-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 20px;
  width: 200px;
}

.record-button-container p {
  margin: 0;
}

/* animation for record button gotten from https://codepen.io/aeewhite/pen/BjzbOL */
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}

.Rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: red;
  border-radius: 35px;
  width: 35px;
  height: 35px;
}

.notRec {
  /* background-color: darkred; */
  border: 1px solid #edeff1;
  border-radius: 35px;
  width: 100px;
}

.record-button {
  /* font-size: 0; */
}

.card-row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.analysis-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid #edeff1;
  padding: 10px 20px 40px 20px;
  border-radius: 10px;
  width: 175px;
  text-align: center;
}

.card-title {
  font-size: 15pt;
  color: #858484;
}

.overall-score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overall-score {
  font-size: 24pt;
  color: #858484;
}

.feedback {

}

.ok-box .good-box {
  padding: 2px;
}

.ok-box {
  background-color: #FCFFE9;
}

.good-box {
  background-color: #EAFFE9;
}

.bad-box {
  background-color: #F4D9D6;
}